{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
  </head>

  <a href="{% url 'new_community' %}" ><span>New Community </span></a>
  <a href="{% url 'community_list' %}" ><span>See all the communities </span></a>
  <a href="{% url 'new_woman' %}" ><span>Add Woman </span></a>
  <a href="{% url 'new_man' %}" ><span>Add Man </span></a> 




    <!-- {% for community in communities %}
    <div>
        <p>Community Name: {{ community.name }}</p>
        <p>Number of Couples: {{community.number_couples}}</p>
    </div>
{% endfor %} -->

<div class="content container">
     <div class="row">
         <div class="col-md-8">
             {% block content %}
             {% endblock %}
         </div>
     </div>
 </div>

</html>
