{% extends 'match/base.html' %}

{% block content %}
<h1> {{community.name }}</h1>


<div class="row">
  <div class="col-md-6">
    <h2> Reds </h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Ranks missing</th>

        </tr>
      </thead>
      <tbody>
        {% for red in red_given_rankings %}
        <tr>
          <td>{{red.name}}</td>
          <td>{{red.ranks_missing}}
            <td> <a href="{% url 'red_details' red.pk%}" class="btn btn-default" ><span>See Details</span></a></td>
          </tr>
          {% endfor %}
          {% if add_red %}
          <tr><td>  <a href="{% url 'new_red' %}" class="btn btn-default"> Add Red Member </a></td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>


    <div class="row">
      <div class="col-md-6">
        <h2> Blues </h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Ranks missing</th>
            </tr>
          </thead>
          <tbody>
            {% for blue in blue_given_rankings %}
            <tr>
              <td>{{blue.name}}</td>
              <td>{{blue.ranks_missing}}</td>
              <td> <a href="{% url 'blue_details' blue.pk %}" class="btn btn-default" ><span>See Details</span></a></td>
            </tr>
            {% endfor %}
            {% if add_blue %}
            <tr> <td> <a href="{% url 'new_blue' %}" class="btn btn-default"> Add Blue Member </a></td></tr>
            {% endif %}

          </tbody>
        </table>
      </div>
      {%if can_match %}
      <a href="{% url 'new_matching' %}" class="btn btn-default"> Create Match </a>
      {% endif %}

      {% endblock %}

      <!-- <table class="table">
      <thead>
      <tr>
      <th scope="col">Red Member</th>
      <th scope="col">Blue Member</th>
    </tr>
  </thead>
  <tbody>

  {% for red in reds %}
  <tr>
  <td>{{red}} </td>
</tr>
{% endfor %}
{% for blue in blues %}
<tr>
<td>{{blue}}</td>
</tr>
{% endfor %}
</tbody>
</table> -->
