{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
  </head>

<h1> Hello </h1>

    {% for community in communities %}
    <div>
        <p>Community Name: {{ community.name }}</p>
        <p>Number of Couples: {{community.number_couples}}</p>
    </div>
{% endfor %}

</html>
