{% extends 'match/base.html' %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h1 id="title-home"> Shapley Gale App </h1></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><img src="https://www.economist.com/sites/default/files/images/print-edition/20121020_FND000_0.jpg"> </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Welcome! In this app you can implemate the Shapley-Gale Algorithm in order to create a match between two groups. </p>
          <p> In order to create a match, you need to create a community and fix the number of couples in the community. Let's say that there is a community with Blue and Red members that needs to be match. We can do this implementing Shapley Gale algorithm. For this, Red members needs to rank Blue members from 1 to n where n is the number of couple that we are going to create and Blue members need to do the same. The result will be an stable match. What that means? An stable match is where there is not two people would rather be matched together over their current assignment. </p>
          <p> To start, create a need community, then add red and blue members to it and then ask for the blue and red members to rank each other. Decide who is going to propose and then you will hacve your match. Enjoy!</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>



{% endblock %}
