{% extends 'match/base.html' %}

{% block content %}
<div class="row" >
  <div class="col-md-8 ">
    <h1>Compare Matching</h1>
    <div class='table-container'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class ="col-title" scope="col">Community Name</th>
          </tr>
        </thead>
        <tbody>
          {% for community in communities %}
          <tr>
            <td>{{ community.name }}</td>
            <td><a class="btn btn-default" href="{% url 'make_graphs' community.pk%}" ><span> Compare </span></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
