{% extends 'match/base.html' %}

{% block content %}
<h1> Matching Details </h1>
<p class="matching-details"><b> Community: </b> {{matching.community }}</p>
<p class="matching-details"><b> Algorithm: </b> {{matching.algorithm}}</p>
<div class="row" >
  <div class="col-md-8 ">
    <div class='table-container'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class ="col-title" scope="col">Blue</th>
            <th class ="col-title" scope="col">Red</th>
            <th class ="col-title" scope="col">Blue Hapiness</th>
            <th class ="col-title" scope="col">Red Hapiness</th>
          </tr>
        </thead>
        <tbody>
          {% for couple in pairs_array %}
          <tr>
            {% for couple in couple %}
            <td>{{couple}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-default" href="{% url 'matching_delete' matching.pk%}" >Delete Matching</a>
      <a class="btn btn-default" href="{% url 'community_details' community.pk%}" >See Community Details</a>
    </div>
  </div>
</div>
{% endblock %}
