{% extends 'match/base.html' %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript"></script>
{% endblock %}
{% block content %}
<canvas id="myChart" width="400" height="400"></canvas>
<script>
console.log("Test outside of document.ready");

console.log("This is a test");

var marksCanvas = $("#myChart");
var marksCanvas = document.getElementById("myChart");
var marksCanvas = document.getElementById("myChart").getContext("2d");



var marksData = {
  labels: {{labels|safe}},
  datasets: {{datasets|safe}}
};

var chartOptions = {
  scale: {
    ticks: {
      beginAtZero: true,
      min: 0,
      max: {{community_size|safe}},
      stepSize: 1,
      fontSize:18,
    },
    pointLabels: {
      fontSize: 18
    }
  },
  legend: {
    position: 'left'
  }
};

var radarChart = new Chart(marksCanvas, {
  type: 'radar',
  data: marksData,
  options: chartOptions
});


</script>



{% endblock %}
