.navbar-default {
    background-color: Red;
    border-color: #E7E7E7;
}

/*.container-fluid {
  background-color: #ff8e2b;

}*/

.navbar-nav  a {
  background-color: #ff8519;
  border-color: white;
}
nav {
  background-color: Red;
}

h1 {
    color: #e56004;
}

/*.panel-body {
  background-color: #f9deb8;
}*/

body {
  font-family: Roboto Slab
}

.canvas-container {
  padding-top: 100px;
}




#title-home {
  text-align: center;
}

.col-title {
  font-weight: bold;
  font-size: 1.2em;
  /*color: #e56004;*/
}

.table-container {
  padding-top: 10px;
}
