.navbar-default {
    background-color: Red;
    border-color: #E7E7E7;
}

/*.container-fluid {
  background-color: #ff8e2b;

}*/

.navbar-nav  a {
  background-color: #ff8519;
  border-color: white;
}
nav {
  background-color: Red;
}

h1 {
    color: #e56004;
}

.panel-body {
  background-color: #f9deb8;
}

body {
  font-family: Roboto Slab
}




#title-home {
  text-align: center;
}
